$border-color: #e0e0e0;
$transition-duration: 0.3s;
$hover-background-color: rgb(227, 227, 227);
$medium-screen: 767px;

.news-item {
  border: 1px solid $border-color;
  padding: 20px;
  margin: 0 5px 20px;
  border-radius: 8px;
  transition: $transition-duration;
  width: 700px;

  &:hover {
    transform: translateY(-5px);
    background: $hover-background-color;
  }

  .news-image {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
  }

  .news-title {
    font-size: 1.5em;
    margin-bottom: 10px;
    font-weight: bold;
  }

  .news-description {
    font-size: 1.3em;
    margin-bottom: 10px;
    font-weight: 400;
  }

  .news-link {
    text-decoration: none;
    font-weight: 700;
    font-size: 1.1em;

    &:hover {
      text-decoration: underline;
    }
  }
}

@media (max-width: $medium-screen) {
  .news-item {
    padding: 10px;
    width: 90%;
  }

  .news-description,
  .news-title {
    font-size: 1.2em;
  }
}
